snippet log "Set ActiveRecord::Base Logger to STDOUT"
ActiveRecord::Base.logger = Logger.new(STDOUT)
endsnippet

snippet pry "Insert a pry binding"
binding.pry
endsnippet

snippet fst "Insert a frozeon_string_literal statement"
# frozen_string_literal: true
endsnippet

snippet plist "Inject a processlist inspect statement"
y ActiveRecord::Base.connection.select_all('show processlist').to_a.delete_if{|p| p['Command'] == 'Sleep'}
endsnippet
