snippet exp "Inject <Expand> block"
<Expandable title="$1">
  $2
</Expandable>
endsnippet

snippet param "Inject <ParamField> block"
<ParamField body="$1" type="$2">
  $3
</ParamField>
endsnippet

snippet resp "Inject <ResponseField> block"
<ResponseField name="$1" type="$2">
  $3
</ResponseField>
endsnippet
